node_modules
.env
# Dependency directories
node_modules/

# User-specific files
npm-debug.log
yarn-error.log
*.env

# Build files
dist/
build/
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Package files
package-lock.json
yarn.lock
