@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-font-family: "Poppins", sans-serif;
    /* --color-mid: #6257e3;
    --color-light: #89c7e2; */
    /* --color-light: #61dafb; just trying this color */
    /* --color-dark: #050a30; */
    --primary-color: #0056d2;
    --secondary-color: #fff;
    --dark-color: #22242a;
  }
  

